df_500.csv
df_combined_2200.csv
df_combined.csv
gyroscope_590.csv
X_test.npy
X_train.npy
X_valid.npy
X_windows.npy
dados/
dados/*
sensors_data/
sensors_data/*
y_valid.npy
y_train.npy
y_test.npy
y_labels.npy
